body, html {
  height: 100%;
  width: 100%;
}

body { 
	 
	 text-align: center;
}
#button-container{
	width: 100%;
	text-align: center;
	position: absolute;
}
#unicorn {
	width: 555px;
}
.start-poop {
	width: 100px;
	position: absolute;
	left:434px;
	top:300px;
}
#poop{
}
.redYellow {
	background: linear-gradient(#f92f80, #fffa00);
	height: 100px;
	width: 100%;
}
.yellowBlue{
	background: linear-gradient(#fffa00, #00ffe5);
	height: 100px;
	width: 100%;
}
.blueRed{
    background: linear-gradient(#00ffe5, #f92f80);
	height:100px;
	width: 100%;
}
#button{
    background-color: Transparent;

    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: relative;
}
.ground-poop{
	width: 100px;
	position: absolute;
	left: 434px;
	top: 380px;
	opacity: 0;
	transition: top 300ms, opacity 300ms;
}
h1 
{
	font-family: 'Bungee', cursive;
}