body, html {
  height: 100%;
  width: 100%;
}

body { 
	 
	 text-align: center;
}
#button-container{
	width: 100%;
	text-align: center;
	position: absolute;
}

.start-poop {
	width: 100px;
	position: absolute;
	left:434px;
	top:300px;
}
#poop{
}
.redYellow {
	background: linear-gradient(#ffa8d7	, #fffda8);
	height: 100px;
	width: 100%;
}
.yellowBlue{
	background: linear-gradient(#fffda8, #b2ddff);
	height: 100px;
	width: 100%;
}
.blueRed{
    background: linear-gradient(#b2ddff, #ffa8d7);
    width: 555px;
	height:100px;
	width: 100%;
}
#button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: relative;
}
.ground-poop{
	width: 100px;
	position: absolute;
	left: 434px;
	top: 380px;
	opacity: 0;
	transition: top 300ms, opacity 300ms;
}
h1 
{
	font-family: 'Bungee', cursive;
}
#counter{
	font-size: 34px;
	position: absolute;
	top:145px;
        left: 0px;
}
