body {
	font-family: 'Schoolbell', cursive;

}

h1 {
	text-align: center;

}
P {
	text-align: left;
}
#arsene-pic {
	float: right;
	height:244px; 
	width: 253px;
}

#joker-pic{
	float:right;
	width:129px;
	height:302px;
}
